* {
    padding: 0;
    margin: 0;
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item {
    border: solid 2px red;
    /* background: blue; */
    /* height: 100px;
    width: 100px; */
    /* position: absolute;
    left: 50%;
    top: 50%; */

    /* text-align: center; */
}
